<h2>{{activity}}</h2>

<table style="width:100%">
  <tr>
    <th>Location</th>
    <th>City</th>
    <th>State</th>
    <th>Date</th>
    <th>Organizer</th>
    <th>Expertise level</th>
    <th>Price($)</th>
  </tr>
  
    {{#each activityTable}}
    <tr>
    <div class='activityTable'></div>
        <td><a href="/`{{activityName}}/{{this.location}}`">{{this.location}}</a></td>
        <td>{{this.city}} </td>
        <td>{{this.state}} </td>
        <td>{{this.date}} </td>
        <td>{{this.organizer}} </td>
        <td>{{this.expertise}} </td>
        <td>{{this.price}} </td>
    </div>
    </tr>
    {{/each}}  
  
</table>

<br>
<br>

<form class="addEvent" action="/addEvent">
    <input type="submit" id="addEvent" name="addEvent" value="Add Event">
</form>