<div class="container">
    <h1>Add a New {{activityName}} Event Here!</h1>
    <div class="row">
        <div class="col-sm-4">
            <form method="POST" id="addEvent" class="server-form" action="/events/createEvent">
                <div class="form-group">
                    <label>Activity
                        <input type="text" id="activityName" placeholder="activityName" name="activityName"
                            value="{{activityName}}">
                    </label>
                </div>
                <div class="form-group">
                    <label>Enter Event Location
                        <input type="text" id="location" placeholder="location" name="location" value="{{location}}"
                            required>
                    </label>
                </div>
                <div class="form-group">
                    <label>Enter City
                        <input type="text" id="city" placeholder="city" name="city" value="{{city}}" required>
                    </label>

                </div>
                <div class="form-group">
                    <label>Enter State
                        <input type="text" id="state" placeholder="state" name="state" value="{{state}}" required>
                    </label>
                </div>
                <div class="form-group">
                    <label>Enter Date
                        <input type="date" id="date" placeholder="date" name="date" value="{{date}}" required>
                    </label>
                </div>
                <div class="form-group">
                    <label>Enter Organizer
                        <input type="text" id="organizer" placeholder="organizer" name="organizer" value="{{organizer}}"
                            required>
                    </label>
                </div>

                {{!-- <label>Enter Expertise level
                    <input type="text" id="expertise" placeholder="expertise" name="expertise" value="{{expertise}}"
                        required>
                </label>
                <br> --}}
                <div class="form-group">
                    <label for="expertise">Enter Expertise level</label>
                    <select name="expertise" id="expertise" class="form-control">
                        <option value="" selected>Select Expertise level</option>
                        <option value="easy">Easy</option>
                        <option value="intermediate">Intermediate</option>
                        <option value="advanced">Advanced</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select expertise level
                    </div>
                </div>
                <div class="form-group">
                    <label>Enter Price ($)
                        <input type="number" id="price" placeholder="price" name="price" value="{{price}}" required>
                    </label>
                </div>

                <input type="submit" value="Add Event" id="createEventbtn" name="createEventButton"><br>

                <div id="error" class="text-center" hidden></div>
                {{! error }}
                {{#if error}}
                <p class="error">{{error}}</p>
                {{/if}}

            </form>

        </div>