<div class="container">
    <h1>Add a new {{activityName}} event here!</h1>
    <div class="row">
        <div class="col-sm-4">
            <form method="POST" id="addEvent" class="server-form" action="/events/createEvent">
                <div class="form-group">
                    <label>Activity
                        <input type="text" id="activityName" placeholder="activityName" disabled
                            value="{{activityName}}">
                        <input type="text" id="activityName" placeholder="activityName" name="activityName" hidden
                            value="{{activityName}}">
                    </label>
                </div>
                <div class="form-group">
                    <label>Overview
                        <input type="text" id="overview" placeholder="overview" name="overview"
                            value="{{overview}}" required>
                    </label>
                </div>
                <div class="form-group">
                    <label>Enter Event Location
                        <input type="text" id="location" placeholder="location" name="location" value="{{location}}"
                            required>
                    </label>
                </div>
                <div class="form-group">
                    <label>Enter City
                        <input type="text" id="city" placeholder="city" name="city" value="{{city}}" required>
                    </label>

                </div>
                <div class="form-group">
                    <label>Enter State
                        <input type="text" id="state" placeholder="state" name="state" value="{{state}}" required>
                    </label>
                </div>
                <div class="form-group">
                    <label>Enter Date
                        <input type="date" id="date" name="date" value="{{date}}" required>
                    </label>
                </div>
                <div class="form-group">
                    <label>Enter Organizer
                        <input type="text" id="organizer" placeholder="organizer" value="{{organizerUsername}}" disabled
                            required>
                        <input type="text" id="organizer" placeholder="organizer" name="organizer" value="{{organizerUsername}}" hidden
                            required>
                    </label>
                </div>
                <div class="form-group">
                    <label>Enter Organizer email
                        <input type="email" id="organizerEmail" placeholder="organizer email" value="{{organizerEmail}}" disabled
                            required>
                        <input type="email" id="organizerEmail" placeholder="organizer email" name="organizerEmail" value="{{organizerEmail}}" hidden
                            required>
                    </label>
                </div>
                <div class="form-group">
                    <label for="expertise">Enter Expertise level</label>
                    <select name="expertise" id="expertise" class="form-control">
                        <option value="" selected>Select</option>
                        <option value="easy">Easy</option>
                        <option value="intermediate">Intermediate</option>
                        <option value="advanced">Advanced</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select expertise level
                    </div>
                </div>
                <div class="form-group">
                    <label>Enter Price ($)
                        <input type="number" id="price" placeholder="price" name="price" value="{{price}}" required>
                    </label>
                </div>

                <label> >> FAQs </label>
                <div class="layout">
                    <div class="accordion">
                        <div class="accordion__question">
                            <label>Question 1
                                <input type="text" id="question1" placeholder="question1" name="question1"
                                    value="{{question1}}" required>
                            </label>

                        </div>
                        <div class="accordion__answer">
                            <label>Answer 1
                                <input type="text" id="answer1" placeholder="answer1" name="answer1"
                                    value="{{answer1}}" required>
                            </label>
                        </div>
                    </div>

                    <div class="accordion">
                        <div class="accordion__question">
                            <label>Question 2
                                <input type="text" id="question2" placeholder="question2" name="question2"
                                    value="{{question2}}" required>
                            </label>
                        </div>

                        <div class="accordion__answer">
                            <label>Answer 2
                                <input type="text" id="answer2" placeholder="answer2" name="answer2"
                                    value="{{answer2}}" required>
                            </label>
                        </div>
                    </div>
                </div>

                <br>

                <input type="submit" value="Add Event" class="btn btn-primary" id="createEventbtn" name="createEventButton"><br>

                <div id="error" class="text-center" hidden></div>
                {{! error }}
                {{#if error}}
                <p class="error">{{error}}</p>
                {{/if}}

            </form>

        </div>
    </div>
</div>