<div class="container">
    <br>
    <h1>{{event.location}}</h1>
    <h6>{{event.overview}}</h6>
    <h6>Address: {{event.city}},{{event.state}}</h6>
    <h6>Date and Time: {{event.date}}</h6>
    <h6>Organized by: {{event.organizer}} </h6>
    <h6>Expertise Level: {{event.expertise}}</h6>
    <h6>Price: {{event.price}}</h6>

    <div id="registered_members">
        <h6>Registered Members:</h6><br>
        <ul>
            {{#each event.registeredMembers}}
            <h5>
                <li>{{this}}</li>
            </h5><br>
            {{/each}}
        </ul>
    </div>

    <span class="Event" id={{event._id}}>{{event.location}}: {{event.location}}</span>

    {{#if showRegisterButton}}
    <form action="/register" method="POST">
        <input type="text" value={{event._id}} name="eventId" hidden>
        <label>Register</label>
        <input type="submit" value="Register" name="Register" class="btn btn-primary">
    </form>
    {{/if}}

    <div id="faq">
        <h6>Frequently Asked Questions</h6>
        <ul>
            {{#each event.faq}}
            <li>Question- {{this.question}}</li>
            <li>Answer- {{this.answer}}</li>
            {{/each}}
        </ul>
    </div>

    {{#if canReview}}
    <div id="addReview">
        <h4><b>Write a review</b></h4>
        <table>
            <tr>
                <td><label>Rating</label></td>
                <td><input type="number" id="reviewRating" name="review_rating" min="1" max="5" required></td>
            </tr>
            <tr>
                <td><label>Review Text</label></td>
                <td><input type="text" id="reviewText" name="review_body"></td>
                <td><input type="text" id="eventId" name="event_id" hidden value={{event._id}}></td>
            </tr>
        </table>
        <form>
            <input type="submit" id="reviewSubmitButton" value="Add Review" name="addReview" class="btn btn-primary">
        </form>
    </div>
    {{/if}}

    <label id="addReviewResponse">

    </label>

    <div id="reviews">
        <h4>Reviews</h4>
        <ul>
            {{#each reviews}}
            <li>{{this.reviewerName}} rated this {{this.rating}} out of 5 <br>
                {{this.reviewText}}
            </li>
            {{/each}}
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="../public/js/reviews.js"></script>

    <div class="row mb-4">
        <div class="float-right">
            <a id="report" class="btn btn-danger" href="">Report Unsafe!</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script type="text/javascript">

    var ID = $('.Event').attr('id');

    $('#report').click(function () {
        var url = `http://localhost:3000/reports/form?id=${ID}`;
        $(this).attr('href', url);
    })
</script>
