<div class="container">
    <br>
    <h1>{{event.location}}</h1>
    <h6>{{event.overview}}</h6>
    <h6>Address: {{event.city}},{{event.state}}</h6>
    <h6>Date and Time: {{event.date}}</h6>
    <h6>Organized by: {{event.organizer}} </h6>
    <h6>Expertise Level: {{event.expertise}}</h6>
    <h6>Price: {{event.price}}</h6>

    <div id="registered_members">
        <h6>Registered Members:</h6><br>
        {{#each event.registeredMembers}}
        <h5>event.registeredMembers</h5><br>
        {{/each}}
    </div>

    {{#unless isUserRegistered}}
    <form action="/register" method="POST">
        <input type="text" value={{event._id}} name="eventId" hidden>
        {{!-- <label>Register</label> --}}
        <button type="submit" class="btn btn-primary">Register</button>
        {{!-- <input type="submit" value="Register" name="Register"> --}}
    </form>
    {{/unless}}

    <div id="faq">
        <h6>Frequently Asked Questions</h6>
        <ul>
            {{#each event.faq}}
            <li>Question- {{this.question}}</li>
            <li>Answer- {{this.answer}}</li>
            {{/each}}
        </ul>
    </div>

    <div id="reviews">

    </div>

     <div class="row mb-4">
        <div class="float-right">
            {{!-- <form class="report" method="GET" action="/reports/form">
                <button type="submit" class="btn btn-danger btn-sm">Report Unsafe!</button>
            </form> --}}

            <a id="report" class="btn btn-danger" href="">Report Unsafe!</a>

            {{!-- <a href="/reports/form" class="btn btn-primary ">Report Unsafe!</a> --}}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script type="text/javascript">

    var ID = $('.Event').attr('id');

    $('#report').click(function () {
        var url = `http://localhost:3000/reports/form?id=${ID}`;
        $(this).attr('href', url);
    })


</script>