<h1>{{event.location}}</h1>
<h3>{{event.overview}}</h3>
<h3>Address: {{event.city}},{{event.state}}</h3>
<h3>Date and Time: {{event.date}}</h3>
<h3>Organized by: {{event.organizer}} </h3>
<h3>Expertise Level: {{event.expertise}}</h3>
<h3>Price: {{event.price}}</h3>
<div id="faq">
    {{!-- <h3>Frequently Asked Questions</h3>
    {{#each event.faq}}
    <h3>Question- {{this.question}}</h3>
    <h3>Answer- {{this.answer}}</h3>
    {{/each}} --}}
</div>

<div id="reviews">
    
</div>
