<div class="container">
    <h2>My Profile</h2>

    <div class="float-right">
        <div id="profile">
            <a class="btn btn-primary" href="/">All Activities</a>

            <a class="btn btn-primary" href="/users/logout">Logout</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <br />
            <form action="/users/get" method="get">
                <div class="form-group">
                    <label class="firstname" for="firstname">First Name:
                        <input type="text" class="form-control" id="firstname" name="firstname" readonly
                            value={{firstname}}></label>
                </div>

                <div class="form-group">
                    <label class="lastname" for="lastname">Last Name:
                        <input type="text" class="form-control" id="lastname" name="lastname" readonly
                            value={{lastname}}></label>
                </div>

                <div class="form-group">
                    <label class="username" for="username">UserName:
                        <input type="text" class="form-control" id="username" name="username" readonly
                            value={{username}}></label>
                </div>

                <div class="form-group">
                    <label class="gender" for="gender">Gender:
                        <input type="text" class="form-control" id="gender" name="gender" readonly value={{gender}}>
                    </label>
                </div>

                <div class="form-group">
                    <label class="dob" for="dob">Date of Birth:
                        <input type="date" class="form-control" id="dob" name="dob" readonly value={{dob}}></label>
                </div>
                <div class="form-group">
                    <label class="email" for="email">Email address:
                        <input type="email" class="form-control" id="email" name="email" readonly
                            value={{email}}></label>
                </div>

                <div class="form-group">
                    <label class="contact" for="contact">Contact Number:
                        <input type="tel" class="form-control" id="contact" name="contact" readonly value={{contact}}>
                    </label>
                </div>

                <div class="form-group">
                    <label class="emergency" for="emergency">Emergency Contact Number:
                        <input type="tel" class="form-control" id="emergency" name="emergency" readonly
                            value={{emergency}}></label>
                </div>

            </form>
        </div>


        <div class="col-sm-6">
            <h2> My Activities </h2>
            <br>
            <table id="activityTable" class="table table-hover">
                <thead>
                    <th scope="col">Registered activities</th>
                    <th scope="col">Date</th>
                </thead>
                <tbody>
                    {{#each activities}}
                    <td>{{this.activityName}}</td>
                    <td>{{this.date}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>


        <div class="col-sm-6">
            <h2> Events Reported by me </h2>
            <br>
            {{#each reports}}
            <div class="row">
                <div class="column">{{this}}</div>
            </div>
            {{/each}}
        </div>

    </div>
</div>