<div class="container">
    <div class="row">
        <h2 class="aaa" id={{eventId}}>You are reporting this event: <a href='/event/{{eventId}}'
                class="reported">{{reported-event}}</a> </h2>

        <div class="all-checkbox reportCheckbox col-sm-4">
            <br />
            <h3>Why do you want to report this event?</h3>
            <br />
            <form action="/reports/form" method="POST" id="reason">

                <div class="checkbox-inline">
                    <input type="checkbox" id="reason1" name="reason" value="Not Safe">
                    <label class="reportTips" for="reason1">Not safe</label><br>
                </div>
                <br>
                <div class="checkbox-inline">
                    <input type="checkbox" id="reason2" name="reason" value="Bad experience">
                    <label class="reportTips" for="reason2">Bad experience</label><br>
                </div>
                <br>
                <div class="checkbox-inline">
                    <input type="checkbox" id="reason3" name="reason" value="Staff unprofessional">
                    <label class="reportTips" for="reason3">Staff unprofessional</label><br>
                </div>
                <br>
                <div class="checkbox-inline">
                    <input type="checkbox" id="reason4" name="reason" value="Site closed">
                    <label class="reportTips" for="reason4">Site closed</label><br>
                </div>
                <input hidden="hidden" name="eventId" value={{eventId}}>

                {{#unless status}}
                <p class="wrongMsg">{{message}}</p>
                {{/unless}}
                {{#unless status}}
                <p class="rightMsg">{{success}}</p>
                {{/unless}}

                <input id="reportSubmit" class="btn btn-primary" type="submit" value="Submit Report">

            </form>


        </div>
    </div>
</div>